<h1> Edit your book </h1>
<% if @book.errors.any? %>
  <div id="error_explanation">
    <h2><%= @book.errors.count %> error(s) prohibited this article from being saved:</h2>
 
    <ul>
    <% @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<form action="/books/<%= @book.id %>" method='POST'>
<input id="hidden" type="hidden" name="_method" value="patch">
Title: <input type=text value="<%= @book.title %>" name='title'><br>
Author: <input type=text value="<%= @book.author %>" name='author'><br>
<input type=submit>
</form>